.todo_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:15px 8px;
}

.todo_item_mid{
  border-bottom: 1px solid #fff1dc;
}

.title{
  font-size: 22px;
  font-weight: 700;
  color: #2B2D30;
}

.todo_value {
  display: flex;
  flex: 1;
  font-size: 16px;
  color: #4E535B;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_container{
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #fffff2;
  padding: 0px 10px;
  border-radius: 20px;
  margin-top: 160px;
}

.input_container {
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.todo_input {
  display: flex;
  flex: 1;
  border-radius: 7px;
  border-width: 1px;
  margin-right: 12px;
  font-size: 18px;
  padding: 8px;
}

.todo_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo_input_addButton {
  border: 1px solid #5B89E3;
  color:#5B89E3;
  background-color: #ffffff;
  padding: 5px 18px;
  border-radius: 12px;
}

.todo_item_button{

}

.delete_button{
  border: 1px solid #E35B5B;
  color:#E35B5B;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
}

.edit_button{
  margin-right: 8px;
  border: 1px solid #4C8E3C;
  color:#4C8E3C;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
}

.header_container{
  width: 40%;
display: flex;
flex-direction: column;
align-items: center;
position: fixed;
background-color: #ffffff;
height: 120px;
  padding: 10px 10px;
  
}